<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document| <%= title %></title>
</head> -->
<%- include("./partial/header.ejs") %>
<body>
    <!-- <nav>


        <div class="site-title">
        <a href="/"><h1>Blog Site</h1></a>
        <p>TradeMark Group</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New  Blogs</a></li>
        </ul>
        </nav> -->
        <%- include("./partial/nav.ejs") %>
        <div class="not -found content">
            OOPS,Page Not Found!!!!!!!!!!!!!
        </div>

        <%- include("./partial/footer.ejs") %>
</body>
</html>