<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog| <%= title %></title> -->
    <%- include("./partial/header.ejs") %>
</head>
<body>
    <!-- <nav>


        <div class="site-title">
        <a href="/"><h1>Blog Site</h1></a>
        <p>TradeMark Group</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New  Blogs</a></li>
        </ul>
        </nav> -->
        <%- include("./partial/nav.ejs") %>
        <div class="about content">
            <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae qui, incidunt ducimus perspiciatis rem fugit aliquid perferendis nisi placeat quos laboriosam dolorem eaque in corporis cumque maiores aut accusamus iure?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae qui, incidunt ducimus perspiciatis rem fugit aliquid perferendis nisi placeat quos laboriosam dolorem eaque in corporis cumque maiores aut accusamus iure?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae qui, incidunt ducimus perspiciatis rem fugit aliquid perferendis nisi placeat quos laboriosam dolorem eaque in corporis cumque maiores aut accusamus iure?</p>

        </div>
        <%- include("./partial/footer.ejs") %>
        
</body>
</html>