<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | <%= title %></title>
</head> -->
<%- include("./partial/header.ejs") %>
<body>
    <!-- <nav>


        <div class="site-title">
        <a href="/"><h1>Blog Site</h1></a>
        <p>TradeMark Group</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New  Blogs</a></li>
        </ul>
        </nav> 
    this is pased in nav.ejs  partial contain the repeatable code-->




<%- include("./partial/nav.ejs") %>

<!-- = it escapes sprecail character and end up with string value instead of html sp we use - sign here -->

        <div class="create-blog content">
            <!-- <form > -->
                <form action="/blogs" method="post">
                <label for="title">Blog Title</label> 
            <input type="text" id="title" name="title" required>
            <label for="snippet">Blog Snippet</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Blog Body</label>
            <textarea id="body" name="body" required ></textarea>
<button>Submit</button>            
            
            </form>
        </div>
        <%- include("./partial/footer.ejs") %>
</body>

</html>